<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MobileAsset.UAF.FM.Overrides</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6</string>
	<key>CFBundleName</key>
	<string>com.apple.gm.safety_deny.input.summarization.cu_summary.proactive.generic</string>
	<key>CFBundleShortVersionString</key>
	<string>32025010.20251009.91600</string>
	<key>CFBundleVersion</key>
	<string>32025010.20251009.91600</string>
	<key>MobileAssetProperties</key>
	<dict>
		<key>AssetSpecifier</key>
		<string>com.apple.gm.safety_deny.input.summarization.cu_summary.proactive.generic</string>
		<key>AssetVersion</key>
		<string>32025010.20251009.91600.100.1651,0</string>
		<key>AssetVersionInfo</key>
		<dict>
			<key>AssetVersionGroup</key>
			<integer>0</integer>
			<key>AssetVersionLong</key>
			<string>32025010.20251009.91600.100.1651,0</string>
			<key>AssetVersionTuple</key>
			<string>32025010.20251009.91600.100.1651</string>
			<key>BuildVersionTuple</key>
			<string>100.7.1651</string>
			<key>BundleVersionTuple</key>
			<string>32025010.20251009.91600</string>
		</dict>
		<key>Build</key>
		<string>100G1651</string>
		<key>_DownloadPolicy</key>
		<integer>900</integer>
		<key>_IsMAAutoAsset</key>
		<true/>
		<key>_PreSoftwareUpdateAssetStaging</key>
		<true/>
		<key>_RetentionPolicy</key>
		<integer>900</integer>
		<key>version</key>
		<string>32025010.20251009.91600</string>
	</dict>
	<key>_DisableAFSCCompression</key>
	<true/>
</dict>
</plist>
